@page "/ProjectSettings"
@using WireGuardCommand.Components

<div class="container">
    <Alert></Alert>
    <Dialog @ref="dialog"></Dialog>

    <Toolbar>
        <div style="display: flex; flex-direction: column; justify-content: center; padding: 0.5rem">
            <button class="btn-primary" @onclick="GoBack">Back</button>
        </div>

        <ToolbarDivider></ToolbarDivider>

        <div style="display: flex; flex-direction: column; justify-content: center; font-weight:  bold; font-size: 1.25rem; padding:  0.5rem">
            Configuration
        </div>
    </Toolbar>
    
    <div class="body">
        <div class="config">
            <div style="display: flex; flex-direction: column">
                <label>Projects Path</label>
                <input type="text" @bind="Config.ProjectsPath" />
            </div>

            <div style="display: flex; flex-direction: column">
                <label>Templates Path</label>
                <input type="text" @bind="Config.TemplatesPath" />
            </div>

            <div style="display: flex; flex-direction: column">
                <label>Seed Size</label>
                <input type="number" @bind="Config.SeedSize" />
            </div>

            <div>
                <input type="checkbox" @bind="Config.EncryptByDefault" />
                <label>Encrypt by Default</label>
            </div>

            <div>
                <label>Templates</label>

                <div style="border: 1px solid #505050; border-radius: 5px; padding: 0.5rem; background-color: #151515">
                    @if (templates.Count == 0)
                    {
                        <span>No templates</span>
                    }

                    @foreach (var template in templates)
                    {
                        <div style="display: flex; align-items: center">
                            <span style="flex: 1">@template.Name</span>
                            <button class="btn-unsafe" @onclick="() => DeleteTemplate(template)">Delete</button>
                        </div>
                    }
                </div>
            </div>

            <button class="btn-primary" @onclick="SaveAsync">Save</button>
        </div>
    </div>
</div>