.container {
    flex: 1;

    display: flex;
    flex-direction: column;
}

.project-view-error {
    display: flex;

    padding: 0.5rem;

    align-items: center;

    background-color: darkred;
}

.project-view-status {
    display: flex;

    padding: 0.5rem;

    align-items: center;

    background-color: dodgerblue;
}

.project-view-header {
    display: flex;
    
    gap: 1rem;
    padding: 1rem;

    align-items: center;

    background-color: #151515;
}

.project-view-body {
    display: flex;
    flex-direction: row;

    gap: 0.5rem;
    flex-wrap: wrap;

    padding: 1rem;
}

.tooltip {
    position: relative;

    width: 24px;
    height: 24px;

    background-image: url('./images/warning.png');
    background-size: contain;

    cursor: help;
}
.tooltip:hover .content {
    display: inline;
}
.tooltip .content {
    display: none;
    position: absolute;

    border: 1px solid #404040;
    border-radius: 5px;

    background-color: #303030;

    padding: 1rem;

    width: 45ch;
    max-width: 70ch;
}