@page "/ProjectLoad"

@using WireGuardCommand.Components;

@{
    var project = Cache.CurrentProject;
}

<div class="container">
    <Alert Type="AlertType.Error" Content="@Error" OnDismiss="() => { Error = string.Empty; }" />

    <div class="dialog">
        @if (project is not null &&
                project.Metadata is not null &&
                string.IsNullOrWhiteSpace(Error))
        {
            if (project.Metadata.IsEncrypted)
            {
                <div>This project is encrypted and requires a passphrase to access.</div>

                <input type="password" @bind-value="project.Passphrase" />

                <div style="display: flex; gap: 0.5rem;">
                    <button style="flex: 1" class="btn-unsafe" @onclick="GoBack">Back</button>
                    <button style="flex: 1" class="btn-primary" @onclick="DecryptProjectAsync">Decrypt</button>
                </div>
            }
            else
            {
                <div>Loading..</div>
            }
        }
        else
        {
            <button class="btn-primary" @onclick="GoBack">Back</button>
        }
    </div>
</div>