@page "/ProjectView"

@{
    var project = Cache.CurrentProject;
}

<div class="container">
    @if(project is not null && 
        project.Metadata is not null &&
        project.ProjectData is not null)
    {
        @if (!string.IsNullOrWhiteSpace(Error))
        {
            <div class="project-view-error">
                @Error
            </div>
        }

        <div class="project-view-header">
            <div style="display: flex; flex-direction: column">
                <div style="font-weight: bold; font-size: 1.25rem">@project.Metadata.Name</div>

                @if(HasUnsavedChanges)
                {
                    <div style="font-size: 0.75rem">Unsaved Changes</div>
                }
            </div>
            <button class="btn-primary" disabled="@(!HasUnsavedChanges)" @onclick="SaveChangesAsync">Save</button>
            <div style="flex: 1"></div>
            <button class="btn-unsafe" @onclick="GoBack">Close Project</button>
        </div>

        <div class="project-view-body">
            <div style="display: flex; flex-direction: column">
                <label>Seed</label>
                <div style="display: flex; gap: 0.5rem">
                    <input @bind="project.ProjectData.Seed"/>
                    <button @onclick="GenerateSeed" class="btn-primary">Generate</button>
                </div>
            </div>
        </div>
    }
    else
    {
        <div style="display: flex; align-items: center;">
            <button class="btn-primary" @onclick="GoBack">Back</button>
        </div>
        <div>Project failed to load.</div>
    }
</div>
