@page "/ProjectDelete"

@using WireGuardCommand.Components;

@{
    var metadata = Cache.CurrentProject.Metadata;
}

<div class="container">
    <Alert Type="AlertType.Error" Content="@Error" OnDismiss="() => { Error = string.Empty; }" />

    <div class="dialog">
        @if(metadata is not null)
        {
            <div>Are you sure you want to delete <span style="color: darkgray">@metadata.Name?</span></div>
            <div style="display: flex; flex-direction: row; gap: 0.5rem">
                <button style="flex: 3" class="btn-unsafe" @onclick="Confirm">Confirm</button>
                <button style="flex: 7" class="btn-primary" @onclick="Cancel">Cancel</button>
            </div>
        }
        else
        {
            <div>Failed to load project.</div>

            <button class="btn-primary" @onclick="Cancel">Go back</button>
        }
    </div>
</div>