.container {
    flex: 1;

    display: flex;
    flex-direction: column;
}

.project-view-error {
    display: flex;

    padding: 0.5rem;

    align-items: center;

    background-color: darkred;
}

.project-view-header {
    display: flex;
    
    gap: 0.5rem;
    padding: 1rem;

    align-items: center;

    background-color: #151515;
}

.project-view-body {
    display: flex;
    flex-direction: row;

    gap: 0.5rem;
    flex-wrap: wrap;

    padding: 1rem;
}