<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WireGuardCommand.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <WireGuardCommand.Properties.Settings>
            <setting name="DefaultCommand" serializeAs="String">
                <value>add allowed-address={client-address} comment="peer {client-id}" interface="{interface}" preshared-key="{client-preshared}" public-key="{client-public}"</value>
            </setting>
            <setting name="DefaultDNS" serializeAs="String">
                <value>10.0.100.254</value>
            </setting>
            <setting name="DefaultEndpoint" serializeAs="String">
                <value>remote.domain.com:13232</value>
            </setting>
            <setting name="DefaultInterface" serializeAs="String">
                <value>WireguardInterface1</value>
            </setting>
            <setting name="DefaultIPs" serializeAs="String">
                <value>10.0.100.0/24</value>
            </setting>
            <setting name="DefaultListenPort" serializeAs="String">
                <value>1234</value>
            </setting>
            <setting name="DefaultNoClients" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="DefaultPostfix" serializeAs="String">
                <value />
            </setting>
            <setting name="DefaultPrefix" serializeAs="String">
                <value>/interface wireguard peers</value>
            </setting>
            <setting name="DefaultPresharedKeys" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DefaultSubnet" serializeAs="String">
                <value>10.0.0.0/24</value>
            </setting>
        </WireGuardCommand.Properties.Settings>
    </userSettings>
</configuration>