<div style="display: flex; flex-direction: column; gap:  0.5rem">

    These variables are replaced when the configuration is generated.
    <br/><br/>
    <b>Generic</b>
    <ul>
        <li>{interface.name} - The name of the interface.</li>
        <li>{allowed.ip} - The allowed IP that can connect to the peers.</li>
        <li>{subnet.cidr} - The CIDR for the subnet.</li>
    </ul>
    <b>Server</b>
    <ul>
        <li>{server.endpoint} - The server endpoint.</li>
        <li>{server.address} - The address for the server.</li>
        <li>{server.port} - The port the server is listening on.</li>
        <li>{server.privatekey} - The servers private key.</li>
        <li>{server.publickey} - The servers public key.</li>
    </ul>
    <b>Peer</b>
    <ul>
        <li>{peer.id} - The peer id.</li>
        <li>{peer.allowed.ip} - The allowed IP that can connect to the server.</li>
        <li>{peer.address} - The address for the peer.</li>
        <li>{peer.port} - The port the peer is listening on.</li>
        <li>{peer.privatekey} - The peers private key.</li>
        <li>{peer.publickey} - The peers public key.</li>
        <li>{peer.presharedkey} - The preshared key between the server and peer.</li>
    </ul>
</div>