.code {
    position: relative;
}
.code pre {
    margin: 0;
}

.clipboard {
    display: flex;
    position: absolute;

    align-items: center;
    justify-content: center;

    right: 10px;
    top: 10px;

    cursor: pointer;

    background-color: #303030;

    border: 1px solid #404040;
    border-radius: 5px;
}