<div class="code">
    <Dialog @ref="QRCodeDialog"/>

    <pre>
        <code class="@Language">
            @Code
        </code>
    </pre>
    <div class="actions">
        <div class="save" @onclick="SaveConfigAsync">
            <img src="/images/save.png" width="20" height="20" />
        </div>
        <div class="qrcode" @onclick="ShowQRCode">
            <img src="/images/qrcode.png" width="20" height="20" />
        </div>
        <div class="clipboard" @onclick="CopyToClipboardAsync">
            <img src="/images/clipboard.png" width="20" height="20" />
        </div>
    </div>
</div>