.code {
    position: relative;
}
.code pre {
    margin: 0;
}

.actions {
    display: flex;
    position: absolute;

    gap: 0.5rem;

    right: 10px;
    top: 10px;
}

.clipboard,
.qrcode,
.save {
    display: flex;

    align-items: center;
    justify-content: center;

    cursor: pointer;

    background-color: #303030;

    border: 1px solid #404040;
    border-radius: 5px;
}