<div class="code">
    <pre>
        <code class="@Language">
            @Code
        </code>
    </pre>
    <div class="clipboard" @onclick="CopyToClipboardAsync">
        <img src="/images/clipboard.png" width="20" height="20" />
    </div>
</div>