.tabmenu {
    display: flex;
    flex-direction: column;
}

.tabmenu-headers {
    display: flex;
    flex-direction: row;

    gap: 0.5rem;
}

.tabmenu-page {
    flex: 1;

    display: flex;
    flex-direction: column;

    gap: 0.5rem;
    flex-wrap: wrap;

    background-color: rgb(40, 40, 40);

    border: 1px solid rgb(64, 64, 64);
    border-radius: 0 5px 5px 5px;

    padding: 1rem;
}

.tab-button {
    display: flex;

    align-items: center;
    justify-content: center;

    color: rgb(128, 128, 128);
    background-color: rgb(50, 50, 50);

    border: 1px solid rgb(64, 64, 64);
    border-bottom: 0;

    border-radius: 5px 5px 0 0;

    min-width: 4rem;
    padding: 0.5rem;

    font-size: 0.75rem;

    cursor: pointer;

    user-select: none;

    transition: background-color 0.5s;
}
.tab-button:hover {
    color: rgb(200, 200, 200);
    background-color: rgb(60, 60, 60);
}
.tab-button.active {
    color: white;
    background-color: rgb(64, 64, 64);
}
